*{
    padding: 0;
    margin: 0;
}

section::before{
    background: #ededed url('../img/back9.jpg')no-repeat center center/cover ;
    position: absolute;
    width: 100%;
    height: 150%;
    content: " ";
    z-index: -1;
    opacity: 0.8;
    /* background-blend-mode: darken; */
}
.upnav{
    background-color: blue;
    height: 30px;
    width: 100%;
}

.logo{
    padding: 3px;
}
.logo img{
    width: 45px;
    border: 3px solid white;
    border-radius: 50px;
   
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    background-color: rgb(80 80 80 );
    height: 55px;

}

.nav-bar{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left:  50px;
    height: 55px;
    width: 100%;
}



.links{
    padding-left: 60px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
}

.nav-bar li a{
    padding: 13px 17px;
   
}
.nav-bar li {
    padding-top: 13.9px ;
   
}

.nav-bar li a{
    font-family: 'Nunito Sans', sans-serif; 
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.btn:hover:hover{
    background-color: #1e1d1d;
  
}

/* .nav-bar li a:hover{
    background-color: #04aa6d;
    border-radius: 20px;
} */

.links .current{
    background-color: #808985;
    border-radius: 20px;
}
.hello{
    font-size: 60px;
}
.name{
    padding-left: 580px;
    /* padding: 10px 20px; */
    padding-top: 10px ;
}
.name p{
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 25px;
    font-weight: bolder;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    font-family: 'Mochiy Pop P One', sans-serif;
    width: 600px;
    padding: 150px 140px;
}

.head{
    padding-left: 17px;
    font-size: x-large;
    font-family: 'Mochiy Pop P One', sans-serif;
    color: black;
}



.disc{
    font-size: medium;
    padding: 30px 5px;
    width: 400px;
    color: #5d5d60;
}

.btn{
    font-family: 'Nunito Sans', sans-serif; 
    /* border: 2px solid black; */
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    font-size: medium;
    padding: 10px;
    margin: 15px 25px;
    color: white;
    background: #3c3c3c;
    box-shadow:7px 7px 15px   #3c3c3c;
}



.content img{
    /* border: 2px solid rgb(54 54 54 / 75%);; */
    border-radius: 300px;
    /* width: 450px; */
    margin: 20px;
    box-shadow: -1px 0.7px 45.2px 18.9px #a9a9a9;
}

/* MY HOBBY PAGE */
.myHobby{
    font-family: 'Mochiy Pop P One', sans-serif;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #3b3b4e;
    margin: 70px 0px;
}

.hobby{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hobby h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.img-hob{
   width: 200px;
}
.img-hob img {
    width: 76.6px;
    padding: 35px 55.1px;
    border-radius: 200px;
    background-color:rgb(151 164 241 / 20%);
}
.hobbycontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* .hobby h1{
    padding: 0px  39px;
    width :113px
} */

/* MY SKILLS PAGE */
.skills{
    font-family: 'Mochiy Pop P One', sans-serif;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 80px;
}
.skills h1{font-family: 'Mochiy Pop P One', sans-serif; font-size: 45px; }

.skils{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 55px;
}

.skils p{
    display: block;
    font-size: 25px;
    font-family: 'Maven Pro', sans-serif;
   
}

.container{
    background-color: #64606026;
    /* border: 2px solid black; */
    /* border-radius: 10px; */
    width: 700px;
    height: 20px;
    border: 5px solid white;
    border-radius: 15px;
}

.InRow{
   
    padding: 10px;
}

.webdev{width: 40%;  height: 20px; color: white ; font-size: 20px; border-radius:15px;    padding-left: 5px;     background-image: -webkit-linear-gradient( 
    0deg
     , rgb(8, 245, 47) 0%, rgb(0 129 5) 100%);}

.DSA{width: 35%;  height: 20px; color: white ; font-size: 20px; border-radius:15px;    padding-left: 5px;     background-image: -webkit-linear-gradient( 
    0deg
     , #5dc3f1 0%, rgb(8 32 161) 100%);}

.cpp{width: 70%;  height: 20px; color: white ; font-size: 20px; border-radius:15px;    padding-left: 5px; background-image: -webkit-linear-gradient( 
    0deg
     , #ff9800 0%, rgb(207 0 0) 100%);
    }

.py{width: 25%; height: 20px; color: white ; font-size: 20px; border-radius:15px;    padding-left: 5px; background-image: -webkit-linear-gradient( 
    0deg
     , #e280f3 0%, rgb(121 9 141) 100%);}

.block{width:35%;  height: 20px; color: white ; font-size: 20px; border-radius:15px;    padding-left: 5px; background-image: -webkit-linear-gradient( 
    0deg
     , #ffeb3b 0%, rgb(219 131 0) 100%);}

.str{width: 40%;  height: 20px; color: white ; font-size: 20px; border-radius:15px;    padding-left: 5px;     background-image: -webkit-linear-gradient( 
    0deg
     , #55e8ef 0%, rgb(0 148 155) 100%);}




.burgur{
    display: none;
    position: absolute;
    cursor: pointer;
    left: 5%;
    top: 20px;
    padding: 0px 10px;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 5px;
    
}


