*{
    padding: 0;
    margin: 0;
}

.heading{
    padding:  150px 30px;;
}

.name {
    padding-left: 270px;
    /* padding: 10px 20px; */
    padding-top: 10px;
}

.nav-bar li {
    padding: 15.7px 13.2px;
}

.links{
    padding-left: 40px;
}

/* MY HOBBY */
/* .myHobby{
    font-family: 'Noto Sans', sans-serif;
    border: 2px solid black;
    font-size: 20px;
    margin: 70px 0px;
    
} */


/* my skiils */
